@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: fixed;
    background-color: red;;
    padding: 0 20px;
}

::selection {
    color: #fff;
    background: red;
}

.search-bar {
    max-width: 450px;
    margin: 150px auto;
}

.search-bar .search-input {
    background: #fff;
    width: 100%;
    border-radius: 5px;
    position: relative;
    box-shadow: 0px 1px 5px 3px rgba(0,0,0,0.12);
}

.search-input input {
    height: 55px;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 0 60px 0 20px;
    font-size: 18px;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
}

.search-input.active input {
    border-radius: 5px 5px 0 0;
}

.search-input .autocomplete {
    padding: 0;
    opacity: 0;
    pointer-events: none;
    max-height: 280px;
    overflow-y: auto;
}

.search-input.active .autocomplete {
    padding: 10px 8px;
    opacity: 1;
    pointer-events: auto;
}

.autocomplete li {
    list-style: none;
    padding: 8px 12px;
    display: none;
    width: 100%;
    cursor: default;
    border-radius: 3px;
}

.search-input.active .autocomplete li {
    display: block;
}

.autocomplete li:hover {
    background: red;
    color: white;
}

.search-input .search-button {
    position: absolute;
    right: 0px;
    top: 0px;
    height: 55px;
    width: 55px;
    text-align: center;
    line-height: 55px;
    font-size: 20px;
    color: red;
    cursor: pointer;
}

<<<<<<< HEAD
.search-input .clear {
    position: absolute;
    right: 10px;
    top: 0px;
    height: 55px;
    width: 25px;
    text-align: center;
    line-height: 55px;
    font-size: 20px;
    color: red;
    cursor: pointer;
}
#header {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 100px;
    color: white;
    background-color: black;
}
.nav {
    padding: 200px;
    background-image: url('nba-logo-background-1.png');
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    background-size: contain;
    background-size: cover;
    
}
.subheader {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    color: white;
    padding: 100px;
    background-color: black;
}

=======
.youtube-section {
    position: absolute;
    right: 800px;
    top: 250px;
    background-color: red;
}
<<<<<<< HEAD
>>>>>>> main
=======

.gif-section {
    position: absolute;
    height: 100px;
    width: 100px;
<<<<<<< HEAD
    right: -50px;
    top: 50px;
}
>>>>>>> main
=======
    right: 650px;
    top: 250px;
    background-color: red;
}
>>>>>>> main
