@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #676767;
  /* margin: 20px; */
}

.container {
  position: relative;
  min-height: 100vh;
}

.wrapper {
  padding-bottom: 2.5rem;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-width: 3px;
  border-style: solid;
  border-color: #ffc72c;
  background-image: url(../images/nba-logo-banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.header h1 {
  text-align: center;
  color: white;
  font-size: 100px;
  font-family: "Lucida Calligraphy", cursive;
  -webkit-text-stroke: 1px #ffc72c;
  padding: 1em;
}

.banner {
  display: flex;
  justify-content: center;
  color: #ffc72c;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 40px;
  -webkit-text-stroke: 1px white;
  margin-bottom: 20px;
}

::selection {
  color: #fff;
  background: red;
}

.search-bar {
  max-width: 450px;
  margin: 20px auto;
  font-family: "Poppins", sans-serif;
}

.search-bar .search-input {
  background: #fff;
  width: 100%;
  border-radius: 5px;
  position: relative;
  box-shadow: 0px 1px 5px 3px rgba(0, 0, 0, 0.12);
}

.search-input input {
  height: 55px;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 0 60px 0 20px;
  font-size: 18px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.search-input.active input {
  border-radius: 5px 5px 0 0;
}

.search-input .autocomplete {
  padding: 0;
  opacity: 0;
  pointer-events: none;
  max-height: 280px;
  overflow-y: auto;
}

.search-input.active .autocomplete {
  padding: 10px 8px;
  opacity: 1;
  pointer-events: auto;
}

.autocomplete li {
  list-style: none;
  padding: 8px 12px;
  display: none;
  width: 100%;
  cursor: default;
  border-radius: 3px;
  text-align: center;
}

.search-input.active .autocomplete li {
  display: block;
}

.autocomplete li:hover {
  background: red;
  color: white;
}

.search-input .search-button {
  position: absolute;
  right: 0px;
  top: 0px;
  height: 55px;
  width: 55px;
  text-align: center;
  line-height: 55px;
  font-size: 20px;
  color: red;
  cursor: pointer;
}

.generated-content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.youtube-section {
  display: none;
  background-color: #ffc72c;
  border: 2px solid white;
  height: 360;
  width: 640;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 25px;
}

.gif-section {
  display: none;
  flex-direction: column;
  background-color: #ffc72c;
  gap: 10px;
  align-items: stretch;
  border: 2px solid white;
  height: auto;
  width: auto;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 25px;
}

.footer {
  display: flex;
  justify-content: center;
  position: absolute;
  font-weight: bold;
  height: 50px;
  bottom: 0;
  width: 100%;
}

.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-flow: row;
  color: #ffc72c;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: bold;
}
